<html>
  <head>
    <link href="<%= url('/assets/styles.css') %>" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>
  <body>
    <div id="main-container">
      <h1 id="heading">Web Guesser</h1>
      <h2 id="subheading">Guess the secret number in as less tries as possible!</h2>

      <% if message %>
        <p class="message"><%= message %></p>

        <% if message.include?('right') %>
          <p>The secret number is <%= number %></p>
        <% end %>
      <% end %>

      <form>
        <input id="number-field" type='text' name='guess' />
        <input class="submit-button" type='submit' value='Guess!' />
      </form>
    </div>

  </body>
</html>
