<html>
  <head>
  </head>
  <body>
    <p><%= message %></p>

    <% if message && message.include?('right') %>
      <p>The secret number is <%= number %></p>
    <% end %>

    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
